@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
    --primary-color: #7159c1;
    --secondary-color: #F7DE1e;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    
    font-family: "Roboto", sans-serif;
}

header {
    background-color: white;

    width: 100%;
    padding: 32px;

    text-align: center;
}

.links {
    font-size: 22px;
    line-height: 32px;

    font-weight: 500;
}

.links a + a {
    margin-left: 32px;
}

.links a {
    text-decoration: none;

    color: #777;

    position: relative;
}

.links a.active {
    font-weight: 700;

    color: var(--primary-color);
}

.links a:hover {
    color: var(--primary-color);
}

.links a::before {
    content: "";

    background-color: var(--primary-color);
    
    position: absolute;
    
    width: 100%;
    height: 3px;
    left: 0;
    bottom: -4px;

    transition: transform .7s ease;

    transform: scaleX(0);
    transform-origin: right;
}

.links a:hover::before {
    width: 100%;
    transform: scaleX(1);
    transform-origin: left;
}

/* ====== CARD ====== */

.card {
    background-color: white;
    width: 800px;
    min-height: 400px;

    margin: 45px auto;

    display: grid;
    grid-template-columns: 1fr 1fr;

    box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.2);

    animation: up .2s ease-out;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
    }
}

.details {
    padding: 32px;
}

.details .item {
    padding: 16px 0;

    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details .item:last-child {
    border: none;
}

.details h3,
.details .item div:nth-child(1) {
    color: #777;

    font-size: 14px;
    line-height: 24px;
    font-weight: 500;

    letter-spacing: 0.7px;
}

.details .item div:nth-child(2) {
    font-size: 18px;

    font-weight: bold;
}

.details h3 {
    font-size: 18px;
    font-weight: 700;

    text-transform: uppercase;
    color: var(--primary-color);
}

.item span {
    padding: 8px 16px;
    margin-right: 4px;
    margin-top: 8px;

    display: inline-block;

    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    
    border-radius: 16px;

    color: #777;
    background-color: var(--secondary-color);
}

/* ====== FORM ====== */

input, 
input[type="date"],
select {
    width: 100%;

    outline: none;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bolder;
}

input[type="radio"] {
    width: initial;

    margin-right: 4px;
}

input::placeholder {
    font-size: 16px;
    font-weight: 500;

    color: #777;
}

button[type="submit"], 
a.button {
    color: white;
    background-color: var(--primary-color);

    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;

    padding: 8px 32px;

    margin-top: 32px;

    width: 100%;
}

#form-delete button[type="submit"] {
    margin-top: 8px;
    background-color: orangered;
}

a.button {
    display: block;
    text-align: center;
    text-decoration: none;
}


/* RESPONSIVIDADE */

@media (max-width: 900px) {
    
    .card {
        max-width: 90%;  
    }

    div.card {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
    }
    form.card {
        display: block; 
    }

    form section.avatar {
        display: none;
    }

    form .details h3 {
        text-align: center;
    }
}

/* INDEX PAGE */

.table-container {
    display: block;

    padding: 40px;

    font-weight: 500;
}

.table-container > a {
    margin-bottom: 16px;
    display: inline-block;
}

.table-container table {
    border-spacing: 0;
}

.table-container thead tr th {
    text-align: left;
}

td, th {
    padding: 16px;

    border-bottom: 1px solid #d9d9d9
}

tbody tr:last-child td {
    border-bottom: none;
}

tbody td:first-child {
    display: grid;
    grid-template-columns: 64px 1fr;
    align-items: center;
}

tbody td:first-child span {
    width: 48px;
    height: 48px;

    border-radius: 50%;
    border: 2px white solid;

    background-position: center;
    background-size: cover;

    box-shadow: 3px 1px 6px -4px black;
}

thead th {
    font-size: 14px;
    text-transform: uppercase;
    color: #777;
}

.table-container thead tr th:last-child,
tbody td:last-child {
    text-align: center;
}

.table-container td a,
.table-container > a {
    padding: 8px 16px;
    
    background-color: var(--primary-color);
    color: white;

    text-decoration: none;
    text-transform: uppercase;

    font-size: 12px;
    font-weight: 500;

    border-radius: 4px;
}